.pokemon-details {
    height: 100vh;
    background-image: url('../utils/audio/background.jpg');
    background-position: absolute;
    background-size: cover;
    z-index: -1;
    padding-left: 40px;
    font-family: "Courier New", monospace;
    font-weight: bold;
}


.details {
    font-weight: bold;
}
